body {
  background: #1f1f1f;
  margin: 0;
  padding: 0;
}

h3{
  color: white;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  top: 10px;
  left: 15px;
}

h4{
  color: white;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 40px;
  right: 125px;
}

p{
  color: #3a3a3a;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 40px;
  font-size: 12px;
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  margin-right: 530px;
  margin-left: 530px;
  margin-top: 30px;
}

.serie{
  float: left;
  width: 100px;
  position: relative;
}

table{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  position: relative;
  top: 15px;
}

tr:nth-child(odd){
	background-color: #fff ;
}

tr:nth-child(even){
	background-color: #d4d4d4;
}

tr:nth-child(1){
	background-color: #006b00;
}

.centered{
  text-align: center;
  font-weight: bolder;
  margin-right: 20px;
}

.separator{
  border-right: 1px solid #a0a0a0;
  margin: 5px auto;
  margin-right: 30px;
  margin-left: 20px;
}

.row{
  color: white;
  line-height: 20px;
  font-size: 14px;
}

div.main-content{
   position: absolute;
   bottom: 0;
   top:0;
   left: 0;
   right: 0;
   width: 100%;
}

div.top-content{
   height:20vh;
   margin-left: 350px;
   margin-right: 350px;
}

div.mid-content{
    margin-left: 350px;
    margin-right: 350px;
    height: 360px;
}

div.bot-content{
    background-color: #121212;
    text-align: center;
    position:absolute;
    height: 100px;
    bottom:0;
    left: 0;
    right: 0;
}
